
# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1806538320:AAGHYA85zXz2iln7QEGVV-VqhMmY9Kpo-xs"
GDRIVE_FOLDER_ID = "1OHaOEsOw9N33FSq-_KOEIiCqSeCLTG5l"
OWNER_ID = 1802096079
DOWNLOAD_DIR = "/home/slam/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "True"
TELEGRAM_API = 6248940
TELEGRAM_HASH = "5514cb755bf780d59d25df829873a2d1"
# Optional config
AUTHORIZED_CHATS = "1802096079"
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = ""
USE_TELEGRAPH = "True"
UPTOBOX_TOKEN = ""
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""  
BLOCK_MEGA_FOLDER = ""
BLOCK_MEGA_LINKS = ""
STOP_DUPLICATE_MIRROR = "True"
SHORTENER = ""
SHORTENER_API = ""
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
